.ui.button.button-primary {
    background-color: #005685;
    color: #fff;
}

.ui.button.button-primary:hover {
    background-color: #0076b6;
    color: #fff;
}

.ui.button.button-primary::selection {
    background-color: #0076b6;
    color: #fff;
}

.ui.button.button-primary:focus:not(:active) {
    background-color: #0076b6;
    color: #fff;
}