.category {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
    background-color: rgb(233, 233, 233);
    font-weight: 600;
}

.category:hover {
    background-color: #005685;
    color: #fff;
}

.category-selector-container {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category.active {
    background-color: #005685;
    color: #fff;
}